<div class="jumbotron text-center">
  <div class="well well-lg">Create new event</div>
    </br>
    <div class="well">Add friends</div>
      <!-- Dynamic search form for friends -->
      <form role="form">
        <div class="form-group">
          <label for="friendSearch">Add a friend:</label>
          <input type="text" class="form-control" id="friendSearch" ng-model="friendName">
        </div>
      </form>
      <!-- Search results for friends -->
      <div class="col-xs-12">
        <div class = "col-xs-2" ng-repeat="friend in friends | filter: friendName" ng-click="addFriend(friend)">
          <img src="url({{friend.picture}})" class="img-responsive margin" style="width:100%" alt="Image">
          <p class="text">{{friend.displayName}}</p>
        </div>
      </div>

      </br>
      <!-- List of attendees -->
      <div class="well">Attendees</div>
      <div class="col-xs-12">
        <div class = "col-xs-2" ng-repeat="attendee in attendees">
          <img src="url({{attendee.picture}})" class="img-responsive margin" style="width:100%" alt="Image">
          <p class="text">{{attendee.displayName}}</p>
        </div>
      </div>
    </div>

    </br>

    <div class="well">Add locations</div>
      <!-- Dynamic search form using YelpAPI -->
      <form role="form">
        <div class="form-group">
          <label for="termSearch">Name of restaurant:</label>
          <input type="text" class="form-control" id="termSearch" ng-model="term">
          <label for="locationSearch">Where:</label>
          <input type="text" class="form-control" id="locationSearch" ng-model="location">
        </div>
      </form>
      <!-- Search results from Yelp API -->
      <div class="col-xs-12">
        <div class = "col-xs-12" ng-repeat="restaurant in results" ng-click="addLocation(restaurant)">
          <p class="text">!!!! ADD YELP PROFILE DATA HERE !!!</p>
        </div>
      </div>

      </br>
      <!-- List of locations -->
      <div class="well">Locations</div>
      <div class="col-xs-12">
        <div class = "col-xs-12" ng-repeat="restaurant in locations">
          <p class="text"> !!!! SHOW YELP PROFILE DATA HERE !!! </p>
        </div>
      </div>
    </div>
</div>