  <div>

  <div class="event create">
    <h2>Name your event:</h2>
    <input type="text" class="form-control eventname text-center" ng-model="eventName" placeholder="Name it and they will come...">
  </div>

  <!-- Add Description -->
  <div class="event create">
    <h2>Add a short description!</h2>
    <form role="form" id='usrform'>
      <textarea class="form-control eventname text-center" maxlength="140" ng-model='eventDescription' form="usrform"  placeholder="What's the occasion?"></textarea>
    </form>
  </div>

  <div class="event create">
    <h2>Invite some friends:</h2>
    <!-- Dynamic search form for friends -->
    <form>
      <fieldset class="form-group">
        <!-- <label for="friendSearch">Find friends:</label> -->
        <input class="form-control" ng-model='friendName' id="friendSearch" placeholder="Filter friends by name"/>
      </fieldset>
    </form>
    <button id="addAllBtn" class="btn btn-primary" ng-click="addAllFriends()">Add all friends!</button>
    <div class='well well-sm'>
      <div class="row scroll">
        <div style="width: {{friends.length * 190}}px">
          <div class="square text-center addFriendsList" ng-repeat="friend in friends | filter:{name:friendName}" ng-click="addFriend(friend)">
            <img class="card-img-top" src='{{friend.picture}}'>
            <div class="card-block">
              <h4 class="card-title">{{friend.name}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- List of attendees -->
    <div class='well well-sm'>
      <h3 class='eventSubtitle' >INVITEES</h3>
      <div class="row text-center">
        <h3 ng-show="showLonelyMessage">{{lonelyMessage}}</h3>
        <div class="square text-center invitees" ng-repeat="attendee in attendees" ng-click="removeFriend(attendee)">
          <img class="card-img-top" src='{{attendee.picture}}'>
          <div class="card-block">
            <h4 class="card-title">{{attendee.name}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="event create"><h2>Add location options</h2>

  <!-- Dynamic search form using YelpAPI -->
  <form role="form" ng-submit="submit()">
    <div class="form-group">
      <label for="termSearch">Name of Location:</label>
      <input type="text" class="form-control" id="termSearch" ng-model="term" ng-model-options="{ getterSetter: true, allowInvalid: true }">
      <label for="locationSearch">Where:</label>
      <input type="text" class="form-control" id="locationSearch" ng-model="location">
    </div>
    <input type="submit" value="Search" class="btn btn-primary searchRestButton"/>
    <button type="button" class="btn btn-info searchRestButton" data-toggle="collapse" data-target="#collapse" ng-show="yelpResults.length" ng-click="toggle = !toggle">{{toggle && 'Hide' || 'Show'}} results</button>
    <img src='css/spiffy.gif' ng-show="showSpiffy">
  </form>

  <!-- Search results from Yelp API -->
  <div class="well vertical collapse in" id="collapse">
    <div class="row highlight" ng-repeat="restaurant in yelpResults">

      <div class="col-xs-1">
        <button type="button" class="voteButton" ng-click="addRemoveLocation(restaurant)" toggle-class="clicked">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>

      <div class="col-xs-2">
        <img class="restImage" src="{{restaurant.image_url}}">
        <img class="restImage review" src="{{restaurant.rating_img_url_large}}">
        <p>{{restaurant.review_count}} reviews</p>
      </div>

      <div class="col-xs-9">
        <h3 class="card-title">{{restaurant.name}}</h3>
        <p class="card-text">{{restaurant.categories[0][0]}}</p>
        <a target="_blank" href="{{restaurant.url}}" style="display:block;">Visit website</a>
        <a target="_blank" href="http://maps.google.com/?q=?{{restaurant.location.display_address[0]}} {{restaurant.location.display_address[2]}}" style="display:block;">Find on Google Maps</a>
      </div>
    </div>
  </div>

  <!-- List of locations -->
    <div class="well well-sm">
      <h3 class='eventSubtitle'>MY PICKS</h3>

    <h3 class = "text-center" ng-show="showNoLocationsMessage">{{noLocationsMessage}}</h3>

    <div class="row highlight" ng-repeat="rest in locations">

      <div class="col-xs-2">
        <img class="restImage" src="{{rest.image_url}}">
        <img class="restImage review" src="{{rest.rating_img_url_large}}">
        <p>{{rest.review_count}} reviews</p>
      </div>

      <div class="col-xs-10">
        <h3 class="card-title">{{rest.name}}</h3>
        <p class="card-text">{{rest.categories[0][0]}}</p>
        <a target="_blank" href="{{rest.url}}" style="display:block;">Visit website</a>
        <a target="_blank" href="http://maps.google.com/?q=?{{rest.location.display_address[0]}} {{rest.location.display_address[2]}}" style="display:block;">Find in Google Maps</a>
      </div>
    </div>
</div>

  </div>
  <!-- List of dates -->
  <div class="event create"><h3> Add date and time options: </h3>

    <form role="form" ng-submit="addDateTimes()">
      <div class="form-group">
        <label for="Date">Pick a date</label>
        <input type="date" id="Date" ng-model="date">
        <label for="Time">Pick a time</label>
        <input type="time" id="Time" ng-model="time">
        <input type="submit" value="Add" class="btn btn-primary dateAdder"/>
        <h3 class="alert alert-danger validationMessage" ng-show="showDateTimeMessage">{{dateTimeMessage}}</h3>
      </div>
    </form>


    <!-- List of picked dates -->
    <div class="list-group">
      <a href="#" class="list-group-item" ng-repeat="time in dateTimes" ng-click="removeDateTime(time)">
        <h4 class="list-group-item-heading">{{ time | date:'EEEE, MMMM d, yyyy @ h:mma' }}</h4>
      </a>
    </div>
  </div>


  <!-- Decide by date -->
  <div class="event create"><h3>Add a decide-by date</h3>

    <form role="form" ng-submit="addDecideByTime()">
      <div class="form-group">
        <label for="DecideDate">Pick a date</label>
        <input type="date" id="DecideDate" ng-model="decideDate">
        <label for="DecideTime">Pick a time</label>
        <input type="time" id="DecideTime" ng-model="decideTime">
        <input type="submit" value="Add" class="btn btn-primary dateAdder"/>
        <h3 class="alert alert-danger validationMessage" ng-show="showDecideByMessage">{{decideByMessage}}</h3>
      </div>
    </form>

    <div class="list-group">
      <a href="#" class="list-group-item" ng-repeat="time in decideByTime" ng-click="removeDecideBy()">
        <h4 class="list-group-item-heading">{{ time | date:'EEEE, MMMM d, yyyy @ h:mma' }}</h4>
      </a>
    </div>

  </div>


  <!-- Submit Event -->
  <div class="event create"><h3>Send off your event!</h3>

    <div class="row text-center">
      <form role="form" ng-submit="submitEvent()">
        <input type="submit" value="Submit" class="btn-lg btn btn-primary"/>
      </form>
      <h3 class="alert alert-danger validationMessage" ng-show="showValidationMessage">{{validationMessage}}</h3>
    </div>

  </div>
</div>
