<div class="well">
  <h2>Your Events</h2>
</div>

<div class="events">
  <div style="outline: 1px dashed orange" ng-repeat="event in data.events">
    <div class="well"><h3>{{ event.name }}</h3></div>

    <div class="well well-sm">Location Options</div>
    
    <div class="row highlight" ng-repeat="rest in event.locations">
      
      <div class="col-xs-1">
        <button type="button" class="voteButton" toggle-class="clicked">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </div>  

      <div class="col-xs-2">
        <img class="restImage" src="{{rest.location.image_url}}">
        <img class="restImage review" src="{{rest.location.rating_img_url_large}}">
        <p>{{rest.location.review_count}} reviews</p>
      </div>

      <div class="col-xs-9">
        <h3 class="card-title">{{rest.location.name}}</h3>
        <p class="card-text">{{rest.location.categories[0][0]}}</p>
        <a target="_blank" href="{{rest.location.url}}" style="display:block;">Visit website</a>
        <a target="_blank" href="http://maps.google.com/?q=?{{rest.location.location.display_address[0]}} {{rest.location.location.display_address[2]}}" style="display:block;">Find in Google Maps</a>
      </div>
    </div>

    <div class="well well-sm">Date Options</div>
    <div class="row highlight" type="dates" ng-repeat="date in event.dates track by $index">
      <div class="col-xs-1">
        <button type="button" class="voteButton nomargin" toggle-class="clicked">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </div> 

      <div class="col-xs-11">
        <h3 class="h3nomargin">{{ date.date | date:'EEEE, MMMM d, yyyy @ h:mma' }}</h3>
      </div>
    </div>

    <div class="well well-sm">Friends Going</div>  
    <div class="row">
      <div class="square text-center" ng-repeat="attendee in event.users">
        <img class="card-img-top" src='{{attendee.picture}}'>
        <div class="card-block">
          <h4 class="card-title">{{attendee.name}}</h4>
        </div>
      </div>
    </div>  

    <div class="well well-sm">Decide By</div>
    <div class="row highlight">
      <div class="col-xs-1">
        <div class="decideBy glyphicon glyphicon-time"></div>
      </div> 

      <div class="col-xs-11">
        <h3 class="h3nomargin">{{ event.deadline | date:'EEEE, MMMM d, yyyy @ h:mma' }}</h3>
      </div>
    </div> 
    <br>
    <div class="bottom">
      <input type="submit" value="Vote" class="btn btn-primary" ng-click="logData(event)"/>
    </div>
    <br>
  </div>
<br>
<br>
</div>

