<div class="container">
  <!-- Your html here -->
  <h1>Your Events</h1>
  
</div>
<input type='text' ng-model='search' placeholder='Search' />
<div class="events">
  <div class="event" ng-repeat="event in data.events">
    <div class="info">
      <div class="name">
        {{ event.name }}
      </div>
      <div class="locations" ng-repeat="location in event.locations">
        <ul>
          <li>{{ location.name }}</li>
          <li>{{ location.rating }}</li>
          <li>{{ location.url }}</li>
        </ul>
      </div>
      <div class="dates" ng-repeat="date in event.dates">
        {{ date }}
      </div>
      <div class="attendees" ng-repeat="user in event.users">
	      <!-- 
	      <img src="url{{ user.picture }}">
				-->
	      <span>{{ user.name }}</span>
      </div>
    </div>
  </div>
</div>
