body {
    overflow: scroll;
}

.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand, .navbar-text{
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.card-img-top {
  border-radius: 50%;
  width: 150px;
}

.row {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.row .border {
  border: 5px solid;
}

.scroll {
  height:180px;
  overflow-x: auto;
}

.square {
  display: inline-block;
  padding: 0 15px 0 15px;
}

.restImage {
  display: block;
  margin-bottom: 5px;
  width: 100px; /* same as review start image */
  height: auto;
}

.vertical {
  max-height: 474px; /* Fit no more than 3 restaurant search results*/
  overflow-y: scroll;
}

.navbar-text img {
  max-height:35px;
  border-radius: 50%;
  border: 1px solid black;
  width:auto;
  vertical-align:middle;
}

.eventname {
  font-size: 20px;
}
