body {
    overflow: scroll;
    font-family: 'Lato', sans-serif;
  }

textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 480px;
}

.standardBodyClass {
  background-image: url('http://styledcanvas.com/wp-content/uploads/2015/04/IG-salmon.jpg');
}

#addAllBtn {
margin: -5px 0 10px 0;
}

#photo{
  padding-top: 60px;
  padding-bottom: 300px;
  background-image: url('http://styledcanvas.com/wp-content/uploads/2015/04/IG-salmon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 20px solid black;
}

.eventTitle{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  margin: 15px;
}

.eventSubtitle{
  font-size: 20px;
  font-weight: bold;
  /*text-align: center;*/
  color: #2d7b52;
  margin:15px;
}

.pageHeader{
  font-size: 17px;
  text-align: center;
  text-shadow: 1px 1px  #202020 ;
  color:#fff;
  background-color: #202020;
  padding: 10px;
  border-radius: 10px;
}

.eventHeader{
  border-radius: 10px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #eee;
}

.badge.eventTitle {
  font-size: 14px;
}

.badge {
  background-color: #999;
  cursor:pointer;
}

.badge.check {
  background-color: #2d7b52;
}

.event{
  border-radius: 10px;
  padding: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #eee;
}

.event.create {
  border-radius: 10px;
  padding: 10px 35px 20px 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #eee;
}

.title {
  color: #fff ;
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  font-weight: 800;
  text-shadow: 6px 6px  #202020 ;
  padding-bottom: 60px;
}

.landingText {
  color: #fff ;
  font-family: 'Lato', sans-serif;
  background-color: #202020   ;
  font-size: 50px;
  font-weight: 800;

}

.login {
  color: #fff ;
  background-color:#202020  ;
  font-size: 30px;
  font-weight: 800;
  float: right;
}

.navbar {
    margin-bottom: 0;
    background-color: #2d7b52;
    z-index: 100;
    border: 0;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    color: #fff;
}

.navOption, #dropdownMenu1{
    color: #fff !important;
    margin-top: 30px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #2d7b52 !important;
  background-color: #fff !important;
}

.noAttendBtn {
  margin-top: -15px;
}

.dropdown-menu {
  background-color: #2d7b52 !important;
}

.dropdown-menu li a {
  color: #fff !important;
  background-color: #2d7b52 !important;
  margin-top: 0px !important;

}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.card-img-top {
  border-radius: 50%;
  width: 100px;
}

.row {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.row .border {
  border: 5px solid;
}

.scroll {
  height:128px;
  overflow-x: auto;
}

.square {
  display: inline-block;
  padding: 0 15px 0 15px;
}

.restImage {
  display: block;
  margin-top: 7px;
  margin-bottom: 2px;
  width: 100px; /* same as review start image */
  height: auto;
}

.restImage.review {
  margin-top: 0px;
  margin-bottom: 2px;
}

.vertical {
  max-height: 302px; /* Fit no more than 2 restaurant search results*/
  overflow-y: scroll;
}

.navbar-text img {
  max-height:35px;
  border-radius: 50%;
  border: 1px solid black;
  width:auto;
  vertical-align:middle;
}

#logo{
  text-shadow: 3px 3px  #202020 ;
  color: #fff;
  font-size: 35px;
  margin: 15px;
  text-transform: uppercase;
}

#nomargins {
  margin: 0;
}

.eventname {
  font-size: 20px;
}

.eventDescription {
  font-size: 15px;
  font-style: italic;
  margin: 15px;
}

.highlight:hover {
  background-color: #efefef;
}

p {
  margin: 0 0 2px;
}

.voteButton {
  background-color: #fff;
  border: none;
  outline: none; /*Removes aura from the pressed button*/
  margin-top: 47px;
  padding: 2px 2px 2px 2px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  /*display:none;  Button only visible on hover */
}

.voteButton.nomargin {
  margin-top: 2px;
}

.voteButton.clicked {
  background-color: #A6D785;
  display:block;
  opacity: 1.0;
}

#eventActionButton{
  float: left;
  margin-top: 17px;
}

/* Shows the vote button on hover over location selection */
.highlight:hover button {
  display:block;
}

/* Vote icon inside vote button */
.glyphicon {
  font-size: 20px;
}

.h3nomargin {
  padding: 7px 0 7px 0;
}

.decideBy {
  font-size: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.bottom {
  background-color: #000;
}

.validationMessage {
  text-align: left;
  font-size: 14px;
  padding: 7px 10px 7px 10px;
  margin-top: 15px;
  min-height: 20px;
  white-space: pre-line;
  line-height: 200%;
}

.voteText{
  font-weight: bold;
  font-size: 25px;
  font-style: underline;
  color: #2d7b52;
  float: right;
  padding-right: right;
}

.dateAdder{
  margin-left: 10px;
}

.searchRestButton{
  margin: 10px 10px 10px 0;
}

.modal-dialog { z-index: 1000; }

